<div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{% block modal_title %}{{ title }}{% endblock modal_title %}</h4>
            </div>
            <div class="modal-body" id="myModalLabel">
                {% block modal_body %}<p>One fine body&hellip;</p>{% endblock modal_body %}
            </div>
            <div class="modal-footer">
                {% block modal_footer %}
                {% endblock modal_footer %}
            </div>
        </div>
    </div>
</div>
{% block modal_js %}
{% endblock modal_js %}