<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{% block content_header %}Title{% endblock content_header %}</h4>
</div>
<div class="modal-body" id="myModalLabel">
    {% block content_body %}<p>One fine body&hellip;</p>{% endblock content_body %}
</div>
<div class="modal-footer">
    {% block content_footer %}
    {% endblock content_footer %}
</div>