@import "../../../../../vendor/twbs/bootstrap/less/bootstrap.less";

@icon-font-path: "/bundles/kingdomhallmain/fonts/";

html, body, .container, .main-content {
    height: 100%;
}

body {
    overflow: hidden;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.btn-block {
    text-align: left;
}

.icon {
    height: 14px;
}

@media (max-width: @screen-xs-max) {
    .page-actions {
        z-index: 3;
        position: fixed;
        top: 9px;
        right: 64px;
        .btn {
            span {
                .btn-text {
                    display: none;
                }
            }
        }
    }
}

@media (min-width: @screen-sm-min) {
    .page-actions {
        .make-md-column(2);
        margin-top: 56px;
        .btn {
            .btn-block;
            margin-bottom: 4px;
        }
    }
}

.page {
    margin-top: 30px;
    height: calc(~'100% - 56px');
    overflow-y: auto;
}

.page-header {
    margin-top: auto;
}

.s13 {
    div {
        padding: 0;
    }

    .column {
        display: table;
        border-collapse: collapse;

        >.row {
            width: 100%;
            display: table-row;
        }

        .row {
            margin: 0 1px 0 0;
        }

    }

    &.body {
        .cell {
            display: table-cell;
            border: 1px solid;
            border-collapse: collapse;
            padding: 0 2px 0 2px;
        }
    }
}

.fixed-table-body {
    .card-view {
        .title {
            min-width: 40%;
        }
    }
}
