{% extends "KingdomHallMainBundle:Layout:layout-page.html.twig" %}

{% block main_content %}
    <div class="page">
        <div class="well well-lg" style="margin-top: 20px;">
            <h3>{% trans %}jwkh.home.header{% endtrans %}</h3>
            <p>{% trans %}jwkh.home.content{% endtrans %}</p>
        </div>
    </div>
{% endblock main_content %}